.top{
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-between; */
    justify-content: end;
    background-color: antiquewhite;
    /* height: 20vh; */
    width: 100%;
}

.right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    width: 600px;
    margin-right: 20px;
    font-family: Martian Mono;
    font-weight: 500;
    height: 12vh;
}

#name{
    margin-left: 35px;
    font-weight: 700;
    font-size: 20px;
    font-family: Martian Mono;
    width: 300px;
    height: 12vh;
}

.name-section{
    width: 300px;
    height: 12vh;
}

.name-section:hover{
    cursor: pointer;
    background-color: rgba(1,1,1,0.25);
}
#name:active{
    font-size: 18px;
}


